header {
	text-align: center;
	padding: 75px 0px 0px 0px;
}

.login-box {
	margin: 10% auto auto auto;
	width: 400px;
	height: 600px;
	box-shadow: 5px 5px 20px 6px #e7e7e7;
}

.form {
	padding: 30px 50px 0px 50px;
}

.custom-button {
	margin: 30px 13%;
	padding: 5px 130px;
	background-color:  #e7e7ee;
}
