header {
	margin: 50px 0 20px;
	text-align: center;
	padding: 0px 10px;
}

h2 {
	text-align: center;
	color: white;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

p {
	font-size: 18px;
}

.center-block {
	padding: 0px 8% 0px 8%;
	color: white;
}

